/**********call-us开始***********/
#call-us{
	height: 568px;
}
#call-us h6{
	width: 1100px;
	padding-top: 10px;
	height: 30px;
	border-bottom: 1px solid red;
	font-size: 15px;
	line-height: 30px;
	margin-bottom: 50px;
}
#call-us h6 img{
	float: left;
	margin-top: 2px;
}
#call-us p{
	line-height: 25px;
	height: 25px;
	font-size: 14px;
	text-indent: 2em;
	color: #2F4F4F;
}
#call-us-left{
	float: left;
}
#call-us-right{
	width: 539px;
	height: 402px;
	background: #DCDCDC;
	float: right;
}
/**********call-us结束***********/