<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>新闻管理系统</title>
	<link rel="stylesheet" href="<?php echo base_url()?>css/shouye.css">
</head>
<body>
   <div id="wrapper">
		   <div id="head">

				 <div>
					 <img id="logo" src="<?php echo base_url()?>img/logo.png" alt="图片">
				 </div>
				   <div id="searcher">
					  <input id="search" placeholder="Please enter your query " type="text">
					  <a href="#">
						  <img id="go-search" src="<?php echo base_url()?>img/search.jpg" alt="图片">
					  </a>
				  </div>
			   <ul>
				   <li><a href="">登录</a></li>
				   <li><a href="">注册</a></li>
				   <li><a href="">上传</a></li>
				   <li><a href="">消息</a></li>
				   <li><a href="">观看记录</a></li>
			   </ul>
			  <div id="redpoint"></div>
		   </div>
		   <br>
		   <hr/>
		   <div id="box">
			 <div id="container">
				   <div id="big-img">
					   <img src="<?php echo base_url()?>img/1.jpg" alt=""/>
					   <img src="<?php echo base_url()?>img/2.jpg" alt=""/>
					   <img src="<?php echo base_url()?>img/3.jpg" alt=""/>
					   <img src="<?php echo base_url()?>img/4.jpg" alt=""/>
					   <img src="<?php echo base_url()?>img/5.jpg" alt=""/>
					   <img src="<?php echo base_url()?>img/6.jpg" alt=""/>
					   <img src="<?php echo base_url()?>img/7.jpg" alt=""/>
					   <img src="<?php echo base_url()?>img/8.jpg" alt=""/>
					   <div id="info" style="z-index: 9">
						   <span id="total-page">/8</span>
						   <span id="current-page">1</span>
					   </div>
					   <div id="arrows">
						   <span id="prev" style="z-index: 9"></span>
						   <span id="next" style="z-index: 9"></span>
					   </div>
				   </div>
				   <div id="small-img">
					   <img src="<?php echo base_url()?>img/1.jpg" alt="">
					   <img src="<?php echo base_url()?>img/2.jpg" alt="">
					   <img src="<?php echo base_url()?>img/3.jpg" alt="">
					   <img src="<?php echo base_url()?>img/4.jpg" alt="">
					   <img src="<?php echo base_url()?>img/5.jpg" alt="">
					   <img src="<?php echo base_url()?>img/6.jpg" alt="">
					   <img src="<?php echo base_url()?>img/7.jpg" alt="">
					   <img src="<?php echo base_url()?>img/8.jpg" alt="">
				   </div>
			 </div>
				<div id="news-title">
					<div id="news-title-sub">
						<div class="news-sub">
							<h1>国际新闻</h1>
							<p>新闻文字简介</p>
						</div>
						<div class="news-sub">
							<h1>国内新闻</h1>
							<p>新闻文字简介</p>
						</div>
						<div class="news-sub">
							<h1>推荐新闻</h1>
							<p>新闻文字简介</p>
						</div>
						<div class="news-sub">
							<h1>推荐新闻</h1>
							<p>新闻文字简介</p>
						</div>
						<div class="news-sub">
							<h1>推荐新闻</h1>
							<p>新闻文字简介</p>
						</div>
					</div>
				   <ul>
					   <li>1</li>
					   <li>2</li>
					   <li>3</li>
					   <li>4</li>
					   <!--<li>5</li>-->
				   </ul>
				</div>
		   </div>
		   <br><br>
		   <hr>
		   <div id="banben1">
			   <ul id="banbenul">
				   <li>本网站所刊载信息，不代表中新社和中新网观点。 刊用本网站稿件，务经书面授权。</li>
				   <li>未经授权禁止转载、摘编、复制及建立镜像，违者将依法追究法律责任。</li>
				   <li>违法和不良信息举报电话：15699788000 举报邮箱：1072090332@qq.com</li>
				   <li>Copyright ©1999-2017 chinanews.com. All Rights Reserved</li>
				   <li>本网站基于 <strong>LeeJingHuan</strong>制作 </li>
			   </ul>

		   </div>
   </div>



   <script src="<?php echo base_url()?>js/jslib.js"></script>
   <script src="<?php echo base_url()?>js/index.js"></script>
</body>
</html>